@import "tailwindcss";


@theme {
    --color-primary: #22223b;
    --color-second: #9a8c98;
    --color-third: #c9ada7;
    --color-gray: #4a4e69;
    --color-light: #f2e9e4;
    --color-DarkBlue: #003554;
    --color-light2: #fde4cf;
    --color-light3: #cfbaf0;


}

body {
    @apply bg-light;
}
